table-cell-border-color = cornflowerblue
table-border-color = #33CC33
table-background-color = #DCE2DE
table-header-background-color = darkgreen
even-color = #F5FBF7

dateWidth = 150px
debtorWidth = 300px
lenderWidth = 300px
wareWidth = 250px
origDebtWidth = 160px
debtWidth = 160px
protocol-row-padding = 10px

.overview-table
  background: table-background-color
  border-spacing: 0
  border-collapse: separate

  margin-left: auto
  margin-right: auto

  font-size: 20px

  thead
    margin: 0
    background: table-header-background-color
    text-align: left

    th
      font-size: 25px
      color: white
      padding: 10px
      border: 0

  tbody
    border: 1px solid table-border-color

    .even
      background: even-color

  td
    border-spacing: 0
    padding: 10px
    
  .number-cell
    text-align: right

.protocol-container
  width: dateWidth + lenderWidth + debtorWidth + wareWidth + origDebtWidth + debtWidth + 2*6*protocol-row-padding
  margin-left: auto
  margin-right: auto
  margin-top: 40px
 
  .even
    background: even-color
  .odd
    background: table-background-color
  .inactive
    background: gray
    
.protocol-table-header
  div
    display: inline-block
    padding: protocol-row-padding

  font-size: 25px
  font-weight: bold
  background: table-header-background-color
  color: white
  margin:0

  .date
    width: dateWidth
  .debtor
    width: debtorWidth
  .lender
    width: lenderWidth
  .ware
    width: wareWidth
  .orig-debt
    text-align: right
    width: origDebtWidth
  .debt-left
    text-align: right
    width: debtWidth

.protocol-table-row
  div
    display: inline-block
    padding: protocol-row-padding

  font-size: 20px

  .date
    width: dateWidth
  .debtor
    width: debtorWidth
  .lender
    width: lenderWidth
  .ware
    width: wareWidth
  .orig-debt
    text-align: right
    width: origDebtWidth
  .debt-left
    text-align: right
    width: debtWidth

