table-cell-border-color = cornflowerblue
table-border-color = #33CC33
table-background-color = #F5FBF7
table-header-background-color = #19A347

.overview-table
  background: table-background-color
  border-spacing: 0
  border: 1px solid table-border-color
  border-collapse:seperate

  margin-left: auto
  margin-right: auto

  font-size: 20px

  thead
    margin: 0
    background: table-header-background-color
    text-align: left

    th
      color: black
      padding: 10px
      border: 0

  td
    border-spacing: 0
    padding: 10px
    
  .number-cell
    text-align: right
