extends layout

block content
  div.header
    div.back-button
      a(href="main") < Back
    div.title
      h1 Create a new protocol
  form(method="post")#create-form.standard-form
    div.form-body
      - if(typeof(info) == 'string')
        label.info= info
      label Ware:
      input(type="text", name="ware")
      label Date:
      input.date(type="date", name="date")
      label Price:
      input(type="text", name="price")
      label Select debtors:
      - each user in users
        div.checkbox-group
          input(type="checkbox", name="debtors", value="#{user.username}", id="#{user.username}")
          label(for="#{user.username}")= user.name
      button(onclick="submitCreateForm()") Add protocol

block script
  script(src="js/create.js")
