extends layout

block content
  div.header
    h1 Create a new protocol
  form(method="post")#create-form.standard-form
    div.form-body
      label(for="ware") Ware:
      input(type="text", name="ware")
      label Date:
      input.date(type="date", name="date")
      label Price:
      input(type="text", name="price")
      label Select debtors:
      - each user in users
        div.checkbox-group
          input(type="checkbox", name="debtors", value="#{user.username}")
          label= user.name
      button(onclick="submitCreateForm()") Add protocol
