doctype 5
html
  head
    link(rel='stylesheet', href='/styles/style.css')

  body
    block content
    //--------------JavaScritps--------------// 
    // Litbs
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js") 
    script(src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js")

    // Autofocus first input
    script(src="js/auto-focus.js")

    block script
