extends layout

block content
  div.header
    h1 Sign in
 
  form(method="post").standard-form
   div.form-body
      if(typeof(error) == "string")
        label.error= error
      label Username:
      input(type="text", name="username")
      label Password:
      input(type="password", name="password")
      div#login-form-submit
        button(type="submit") Sign in
        input(type="checkbox", name="remember", id="remember-me")
        label(for="remember-me") Remember me

block scripts
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js")
  script(src="http://malsup.github.com/jquery.form.js")
  script(src="js/login.js")
