extends layout

block content
  form(method="post")#login-form
    div.login-form-header
      h1 Sign in
    div.login-form-body
      if(typeof(error) == "string")
        label.error= error
      label Username:
      input(type="text", name="username", id="user-tf")
      label Password:
      input(type="password", name="password", id="pass-tf")
      div.login-form-submit
        button(type="submit").ml-button-5 Sign in
        input(type="checkbox", name="remember", id="remember-ch")
        label Remember me

block scripts
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js")
  script(src="http://malsup.github.com/jquery.form.js")
  script(src="js/login.js")
