extends layout

block content
  div.nav
    a(href="create").nav-item 
      h1 New protocol
    a.nav-item 
      h1 Clear debt
    a.nav-item 
      h1 Overview
    a.nav-item 
      h1 History
    a(href="logout").nav-item 
      h1 Log out
