extends layout

block content
  div.header
    h1 Overview
  table.overview-table
    thead
      tr
        th Name
        th What you owe
    tbody 
      - var count = 0;
      - each row in overview
        - var c = count++%2==0?'odd':'even';
        tr(class="#{c}")
          td #{row.name}
          td.number-cell #{row.owedFormatted} 
