extends layout

block content
  div.header
    h1 Overview
  table.overview-table
    thead
      tr
        th Name
        th What you owe
    tbody 
      - each row in overview
        tr.number-cell
          td #{row.name}
          td #{row.owed} 
