extends layout

block content
  div.header
    div.back-button
      a(href="main") < Back
    div.title
      h1 Change password
  form(method="POST").standard-form
    div.form-body
      label.error= error
      label.info= info
      label Current password:
      input(type="password", name="current")
      label New password:
      input(type="password", name="new1")
      label Type new password again:
      input(type="password", name="new2")
      button(type="submit") Change password  
