html
  height: 100% 

body
  padding: 0
  margin: 0
  height: 100%
  font: 45px "Lucida Grande", Helvetica, Arial, sans-serif
  color: white

#margin
  width: 100%
  height: 5px
  @media (max-height: 550px)
    height: 1%

#nav
  overflow: hidden
  cursor: default
  
  margin-left:auto
  margin-right:auto

  background: steelblue

  width: 300px
  @media (max-width: 300px)
    width:100%
    font-size: 35px

  height: 125px
  @media (max-height: 515px)
    height: 24.25%

  &:hover
    background:white
    color: steelblue
